# requirements.txt
gcsfs==2023.6.0
# Direct pypi install coming soon
git+https://github.com/streamlit/files-connection
colorthief==0.2.1
matplotlib==3.7.1
numpy==1.24.3
opencv_python-headless==4.8.0.74
pandas==1.5.3
Pillow==9.4.0
protobuf==4.23.4
scikit_learn==1.2.2
st_files_connection==0.1.0
streamlit==1.25.0
streamlit_extras==0.3.0
streamlit_option_menu==0.3.6
tensorflow==2.13.0
tensorflow_hub==0.14.0
#tensorflow_intel==2.13.0
ultralytics==8.0.145
webcolors==1.13
