# requirements.txt
gcsfs==2023.6.0
# Direct pypi install coming soon
git+https://github.com/streamlit/files-connection
opencv-python-headless==4.8.0.74
protobuf==4.23.4
st_files_connection==0.1.0
streamlit==1.25.0
streamlit_extras==0.3.0
streamlit_option_menu==0.3.6
pillow==9.4.0
colorthief==0.2.1
webcolors==1.13
ultralytics==8.0.145
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.14.0
tensorflow-intel==2.13.0
numpy==1.24.3
pandas==1.5.3
pathlib==1.0.1
matplotlib==3.7.1
scikit-learn==1.2.2
streamlit-extras==0.2.7
speechrecognition==3.10.0
deepl==1.15.0
openai==0.27.9
replicate==0.11.0
python-decouple==3.8
playsound==1.2.2
sentence-transformers==2.2.2
streamlit-modal==0.1.0
urllib3==1.26.16
selenium==4.11.2
webdriver-manager==4.0.0
beautifulsoup4==4.12.2
sqlite==3.41.2 
tenacity==8.2.2
os
tempfile
cv2
random
textwrap
pickle
re
streamlit-audiorec
